*{
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

body{
	background-color: #777;
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #ebebeb;
	padding: 20px;
	
    margin: auto;
    margin-bottom: 10px
}
nav{
	background-color: #ebebeb;
	padding: 20px;
	
    margin: auto;
    margin-bottom: 10px
}
section{
	background-color: #ebebeb;
	float: left;
    padding: 20px;
    width: 495px;
    margin-bottom: 10px;
    
}
aside{
	background-color: #ebebeb;
	float: right;
	padding: 20px;
    width: 370px;
    height:198px;
    
}
article{
	background-color:#777;
	color:white;
	padding:10px;
}
h1{
	background-color: #ebebeb;
	color: black;
	padding: 10px;
}
p{
	background-color: #ebebeb;
	color: black;
	padding: 10px;

}
footer{
	background-color: #ebebeb;
	clear: both;
	padding:20px;
}